@charset "UTF-8";
/*dashContainer style*/
.dash_container {
  width: 416px;
  height: auto;
  position: absolute;
  top: 37px;
  right: 13px;
  z-index: 2;
}

/*.dash_container.main{*/
/*  position: absolute;*/
/*  left: 0;*/
/*  right: 0;*/
/*  background: url("../../../../public/static/image/dark/page/main/img/img_bg_leftPanel_backMask.png") no-repeat;*/
/*}*/

.dash_container .dash_frame {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
  padding: 34px 42px 34px 42px;
}

.dash_frame.list_frame {
  position: absolute;
  width: 476px;
  height: 1376px;
  left: 0;
  right: 0;
  background: url("../../../../public/static/image/dark/page/main/img/img_bg_leftPanel_backMask.png") no-repeat;
  z-index: 2;
}


.dash_container .dash_frame.weather_frame {
  height: 447px;
  background: url("../../../../public/static/image/dark/page/main/img/img_bg_rightPanel_1weather.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame.event_step_frame {
  height: 582px;
  background: url("../../../../public/static/image/dark/page/main/img/img_bg_rightPanel_2eventStep.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_header {
  width: 100%;
}
.dash_container .dash_frame .dash_header .dash_title {
  font-family: "SCDreamB";
  font-size: 19px;
  letter-spacing: -0px;
  text-align: left;
  color: #e6f0f2;
}
.dash_container .dash_frame .dash_header .dash_title::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 30px;
  margin-right: 9px;
}
.dash_container .dash_frame .dash_header .dash_title.weather_title {
  display: flex;
  align-items: center;
}
.dash_container .dash_frame .dash_header .dash_title.weather_title::before {
  background: url("../../../../public/static/image/dark/page/main/icon/icon_headerTitle_weather.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_header .dash_title.event_step_title {
  display: flex;
  align-items: center;
}
.dash_container .dash_frame .dash_header .dash_title.event_step_title::before {
  background: url("../../../../public/static/image/dark/page/main/icon/icon_headerTitle_eventStep.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_header .time_text {
  font-family: "SCDreamR";
  font-size: 10px;
  color: #e6f0f2;
  margin-top: 3px;
  padding-left: 38px;
}

.dash_container .dash_frame .dash_header .time_text_span {
  font-family: "SCDreamR";
  font-size: 10px;
  color: #e6f0f2;
  margin-top: 3px;
}
.dash_container .dash_frame .dash_body {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area {
  margin-top: 19px;
}
.dash_container .dash_frame .dash_body .weather_info_area + .weather_info_area {
  margin-top: 18px;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 6px;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row.status_row {
  justify-content: space-between;
  margin-bottom: 0;
  height: 100px;
  margin-top: -11px;
  padding-left: 5px;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_info_box {
  display: flex;
  align-items: center;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71px;
  height: 31px;
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  font-family: "SCDreamB";
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  font-size: 13px;
  color: #fff;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_title.type_news {
  background-image: linear-gradient(to right, #ff9f8c, #ff3569);
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_title.type_status {
  background-image: linear-gradient(to right, #54ccff, #3761ff);
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_text {
  font-family: "SCDreamM";
  font-size: 19px;
  letter-spacing: -0px;
  color: #fff;
  margin-left: 19px;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .temp_value {
  display: flex;
  font-family: "SCDreamEB";
  font-size: 34px;
  letter-spacing: -2px;
  color: #fff;
  margin-right: 8px;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .temp_value span {
  font-family: "SCDreamM";
  font-size: 26px;
  letter-spacing: -1px;
  margin-left: 1px;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .sensible_temp_value {
  font-family: "SCDreamB";
  font-size: 13px;
  color: #fff;
  position: relative;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .sensible_temp_value::before {
  content: "체감온도";
  display: inline-block;
  font-family: "SCDreamR";
  font-size: 11px;
  color: rgba(230, 240, 242, 0.8);
  margin-right: 10px;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_info_text {
  max-width: 108px;
  font-family: "SCDreamB";
  font-size: 19px;
  letter-spacing: -0px;
  color: #fff;
  margin-top: 13px;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon {
  width: 114px;
  height: 100px;
  margin-top: -13px;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_01 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_01.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_02 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_02.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_03 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_03.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_04 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_04.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_05 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_05.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_06 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_06.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_07 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_07.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_08 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_08.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_09 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_09.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_10 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_10.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_11 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_11.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_12 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_12.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_13 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_13.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_14 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_14.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_15 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_15.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_16 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_16.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_17 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_17.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_18 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_18.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_19 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_19.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .dash_row .weather_icon.weather_20 {
  background: url("../../../../public/static/image/dark/page/main/icon/weather/icon_weather_20.png") no-repeat;
  background-size: 100%;
}
.dash_container .dash_frame .dash_body .weather_info_area .time_box {
  margin-top: 12px;
}
.dash_container .dash_frame .dash_body .weather_info_area .time_box .time_title {
  font-family: "SCDreamL";
  font-size: 11px;
  color: #b6babf;
}
.dash_container .dash_frame .dash_body .weather_info_area .time_box .time_text {
  display: flex;
  align-items: center;
  font-family: "SCDreamM";
  font-size: 11px;
  color: #fff;
  padding-left: 14px;
  margin-top: 5px;
  width: 330px;
  height: 24px;
  border-radius: 11px;
  background-color: rgba(229, 249, 255, 0.1);
}
.dash_container .dash_frame .dash_body .chart_in {
  width: 182px;
  height: 182px;
  margin: 0 auto;
  margin-top: 14px;
}

.event_step_info_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 14px;
}
.event_step_info_area .step__box {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 31px;
  border-width: 1px;
  border-style: solid;
  padding: 12px 20px;
  margin-top: 20px !important;
  background-repeat: no-repeat;
}

.event_step_info_area .step__box:nth-child(n+3) {
  margin-top: 11px;
}

.event_step_info_area .step__box .step__box_text {
  display: flex;
  align-items: center;
  width: 269px;
}

.step__box_text .step__box_text{
  margin-top: 20px;
}
.event_step_info_area .step__box i {
  position: absolute;
  top: -16px;
  left: 12px;
  width: 58px;
  height: 58px;
  display: inline-block;
  margin-right: 1px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.event_step_info_area .step__box .category {
  margin-left: 50px;
  font-size: 13px;
  font-family: "SCDreamR";
  color: #fff;
}
.event_step_info_area .step__box .count {
  margin-left: auto;
  font-size: 24px;
  letter-spacing: -0.07em;
  font-family: "SCDreamB";
  white-space: nowrap;
}
.event_step_info_area .step__box .count span {
  margin-left: 4px;
  font-size: 11px;
  color: rgba(225, 225, 225, 0.6);
}
.event_step_info_area .step__box.type_attention {
  border-color: rgba(68, 160, 255, 0.25);
  background-image: linear-gradient(315deg, rgba(43, 48, 72, 0.25) 14%, rgba(56, 104, 164, 0.25) 35%, rgba(68, 160, 255, 0.25) 86%);
}
.event_step_info_area .step__box.type_attention i {
  background-image: url("../../../../public/static/image/dark/page/main/img/img_eventStep_siren_attention.png");
}
.event_step_info_area .step__box.type_attention .count {
  color: #44a0ff;
}
.event_step_info_area .step__box.type_caution {
  border-color: rgba(245, 212, 64, 0.25);
  background-image: linear-gradient(315deg, rgba(32, 38, 60, 0.25) 14%, rgba(139, 125, 62, 0.25) 35%, rgba(245, 212, 64, 0.25) 86%);
}
.event_step_info_area .step__box.type_caution i {
  background-image: url("../../../../public/static/image/dark/page/main/img/img_eventStep_siren_caution.png");
}
.event_step_info_area .step__box.type_caution .count {
  color: #f5d440;
}
.event_step_info_area .step__box.type_alert {
  border-color: rgba(255, 129, 56, 0.25);
  background-image: linear-gradient(315deg, rgba(43, 48, 72, 0.25) 14%, rgba(149, 89, 64, 0.25) 35%, rgba(255, 129, 56, 0.25) 86%);
}
.event_step_info_area .step__box.type_alert i {
  background-image: url("../../../../public/static/image/dark/page/main/img/img_eventStep_siren_alert.png");
}
.event_step_info_area .step__box.type_alert .count {
  color: #ff8138;
}
.event_step_info_area .step__box.type_serious {
  border-color: rgba(247, 79, 79, 0.25);
  background-image: linear-gradient(315deg, rgba(32, 38, 60, 0.25) 14%, rgba(140, 59, 70, 0.25) 35%, rgba(247, 79, 79, 0.25) 86%);
}
.event_step_info_area .step__box.type_serious i {
  background-image: url("../../../../public/static/image/dark/page/main/img/img_eventStep_siren_serious.png");
}
.event_step_info_area .step__box.type_serious .count {
  color: #f75c5c;
}

